* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  background-color: darkslategray;
}

h1 {
  text-align: center;
}

.container {
  margin: auto;
  width: 80%;
}

.form {
  color: black;
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 10px;
  font-size: 20px;
}

.form_edit {
  display: flex;
  flex-wrap: wrap;
}

.form_edit div {
  width: 30%;
  text-align: center;
}

.form input {
  border-radius: 5px;
  margin: 5px 0px;
}

.hidden {
  display: none;
}

#Expenses_container {
  width: 100%;
  border-collapse: collapse;
}

#Expenses_container td,
#Expenses_container tr {
  border: 1.5px solid black;
  text-align: center;
}

.total_Expenses {
  text-align: center;
}

#exp_total {
  color: orange;
}

/* Removing arrows from number input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
/* Phone media */
@media only screen and (max-width: 870px) {
  .form_edit div {
    text-align: center;
    width: 100%;
    margin: 10px 0px;
  }
  .form_edit input[type='button'] {
    width: 30% !important;
    height: auto !important;
    margin: 10px auto !important;
  }
}

@media only screen and (min-width: 1200px) {
  .form_edit div {
    width: 280px;
  }

  .form_edit div:first-child {
    margin-left: auto;
  }
  .form_edit input[type='button'] {
    width: 94px;
    margin-right: auto;
  }
  #Expenses_container {
    max-width: 960px;
    margin: 15px auto;
  }
}
